@charset "utf-8";

	/*Write Line css*/
	
		 /*검색창 text css*/
		 
		.serch {
			width:230px;
			height:17px;
			border-color:#F2F2F2;
			color:#D8D8D8;
			margin: 0px 0px 0px 0px;
			outline:0;
		} 
		.LiBu01{ 
			background-color:#FAFAFA; 
			border:0px solid #2e9cdf; 
			height:24px;
			outline:0; 
			font-size: 0.9em;
			color: #000000;
			font-weight: bold;
			margin:0px 0px 0px 0px;
		}
		.LiBu01:hover{
			color: #000000;
			cursor: pointer;}
		 
        .Write01{
           	background-color:#ffffff; 
			border:0px solid #ffffff; 
            color: #000000;
            border-radius:0.4em;
			font-weight: bold;
			font-size: 0.9em;
			padding: 3px 3px 3px 3px;
			margin:-20px 10px -10px 0px;
			outline:0;
        }
		 .Write01:active{
			color: #000000;
			cursor: pointer;}
         		
		 
	     a { text-decoration:none }
	     
	     .ulclass{
	     	text-align:center;
	     	margin-bottom:30px;
	     }
	     .liclass{
	     	display:inline-block;
	     	margin-bottom:30px;
	     }
			
			




		
			
			
			