@charset "utf-8";

	/*tab menu line css*/
	 
		.main {
			width: 100%;
			height:470px;
			padding: 10px 0px 0px 0px;    
			border: 0px solid;	
			background: #ffffff;
			margin-top: 90px;
			color:#000000;
			}
		section {
			display: none;
			}
		label {
			display: inline-block; /*줄바꿈 안되고 block처럼 width와 height를 지정 가능하고,만약 width와 height를 지정하지 않을 경우, inline과 같이 컨텐츠만큼 영역이 잡힌다.*/
			padding: 10px 25px; /*탭 이미지 내 안조절*/
			font-weight: 600;  /*폰트 굵기 조절*/
			color: #848484; /*폰트 색 조절*/
			/*border-radius:0px 100px 0px 0px/ 0px 100px 50px 0px;*/
			border: 1px solid transparent;
			}
		label:hover {
			color: #F2F2F2;
			cursor: pointer;}
			
		/*input 클릭시, label 스타일*/
		input:checked + label {
			color: #000000;
			background: linear-gradient( to top, #F8FEFF, #D8D8D8);
			border-top: 2px solid #D8D8D8;
		}
 
		#tab1:checked ~ #content1,
		#tab2:checked ~ #content2, 
		#tab3:checked ~ #content3{
			display: block;}
			
		#content1 {
			border: 0px solid;
			padding: 20px 20px 20px 20px;
			border-top: 1px solid #F2F2F2;
			background-color: #FFFEFF; 
			width:auto;
			min-height: 600px;
			height:470px;
			white-space:nowrap; 
			overflow-x:auto;
			overflow-y:visible; 		 
			margin:0 auto; 
			
		}	
		#content2 {
			border: 0px solid #848484;
			border-top: 1px solid #F2F2F2;
			background-color: #FFFEFF; 
			padding: 20px 20px 20px 20px;
			width:auto;
			min-height: 600px;
			height:auto;
			white-space:nowrap;
			overflow-x:auto;
			overflow-y:visible;
			}	
			
		#content3 {
			border: 0px solid #848484;
			border-top: 1px solid #F2F2F2;
			background-color: #FFFEFF; 
			padding: 20px 20px 20px 20px;
			width:auto;
			min-height: 600px;
			height:auto;
			white-space:nowrap;
			overflow-x:auto;
			overflow-y:visible;
			}	
			
		.Lo01{
			border:0px solid; 
			align:center; 
			width:310px; 
			height:470px; 
			margin:0 auto; 
			margin-top:0px;
		}
		.Lo02{
			border:1px solid #BDBDBD; 
			width:200px; height:30px; 
			margin:10px 0px 10px 10px; 
			padding:10px 10px 0px 10px;
			resize: none;
			font-size:14px;
		}	
		.Lo03{
			border:2px solid #2E9AFE; 
			width:70px; 
			height:40px; 
			margin:-0px 0px 0px 10px; 
			background-color:#ffffff;
			outline:0;
		}
		.Lo03:hover{
			background-color: #2e9cdf;
			cursor: pointer;}
		
		.Lo04{
			border:2px solid #2E9AFE; 
			width:300px; 
			height:40px; 
			margin:10px 0px 0px 10px; 
			background-color:#ffffff;
			outline:0;
		}
		.Lo04:hover{
			background-color: #2e9cdf;
			cursor: pointer;}
			
		
